<div class="container-info" ng-init="CT.Init()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">New Customer</h4>Create your account
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="well">
                            <form id="loginForm">
                                <div class="form-group">
                                    <label for="username" class="control-label">Full Name</label>
                                    <input type="text" class="form-control"
                                           title="Enter your full name"
                                           ng-model="Input.FullName" ng-change="CT.ClearRule('FullName')"
                                           wa-focus="true">
                                    <div ng-class="CT.RuleStyle('FullName')">{{CT.RuleMessage('FullName')}}</div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="control-label">Email</label>
                                    <input type="text" class="form-control"
                                           title="Enter your email"
                                           ng-model="Input.Email" ng-change="CT.ClearRule('Email')"">
                                    <div ng-class="CT.RuleStyle('Email')">{{CT.RuleMessage('Email')}}</div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" class="form-control"
                                           title="Enter your password"
                                           ng-model="Input.Password"
                                           ng-change="CT.ClearRule('Password')">
                                    <div ng-class="CT.RuleStyle('Password')">{{CT.RuleMessage('Password')}}</div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Confirm Password</label>
                                    <input type="password" class="form-control"
                                           title="Confirm your password"
                                           ng-model="Input.ConfirmPassword"
                                           ng-change="CT.ClearRule('ConfirmPassword')">
                                    <div ng-class="CT.RuleStyle('ConfirmPassword')">{{CT.RuleMessage('ConfirmPassword')}}</div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <p><a href="javascript:history.back()" class="btn btn-info btn-block">Back</a></p>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <button type="button" value="login" class="btn btn-success btn-block"
                                            ng-click="CT.Confirm()">
                                        <span class="glyphicon glyphicon-log-in"></span> &nbsp;Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="progressContainer" ng-show="IsBusy">
    <div class="progress"></div>
</div>